@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Pompiere: var(--Pompiere);
}
.link:hover {
  color: #893aed;
  background-color: #341065;
}
html {
  box-sizing: border-box;
  margin: 0;
}
body {
  overflow-x: hidden;
}
